<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      
        <a class="navbar-brand" routerLink="/home">Bunu Republic</a>
      <div class="collapse navbar-collapse" id="navbarNav">
       
        <ul class="navbar-nav ms-auto">
            
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" >Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Login" routerLinkActive="active-link">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/view" routerLinkActive="active-link">VIew Issues</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/add" routerLinkActive="active-link">Create Issue</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>