


<div> 
<header class="header-intro">
    Welcome to the Bunu Republic issues portal for government officials 
</header>
</div>

<hr>


<div class="information-box">
    <img src="assets/coatp.png" class="coa">
    <h1 class="headings-content">How to use the website</h1>
    <p class="text-content">Before you get started, you will need to login or sign up</p>
    <p>only authorized personel will be allowed to use the application</p>
    <p>To create an issue, kindly navigate to the Create Issues Page</p>
    <p>To view or delete isssues, kindly navigate to the View Issues page</p>
</div>

<div class="master-controls" >
  <h1>What would you like to do today?</h1>
    <div class="control-view">
        <img src="assets/Images/view.png" >
    </div>
    <div class="control-create">
        <img src="assets/Images/create.png" >
    </div>
    <div class="control-login">
        <img src="assets/Images/login.png" >
    </div>
    

</div>

 
