

 .backgroundpic {
    background-image: url('./assets/coatp.png');
    background-size: content;
    background-repeat: no-repeat;
    width: fit-content;
    height: fit-content;
 }

 .headings-content {
   color: red;
 }
 .master-controls {
   text-align: center;
 }